.bg-dark.subnavbar {
  background-color: #13322b !important;
}
#favorites:hover > i {
  color: #ffc107;
  transition: 0.2s;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #9f2241;
  border-color: #9f2241;
}

.page {
  margin-top: -1px;
}

body{
  min-height: 100vh;
  position: relative;
  padding-bottom: 433px;
}

.main-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}